:root {
    --bg: #000;
    --orange: #ff9501;
    --grey: #a6a6a6;
    --white: #fdfdfd;
}

.calculator {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    /* border: 1px solid var(--bg); */
    border-radius: 20px;
    background-color: var(--bg);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.calculator__screen {
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}

.calculator__screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.calculator__buttons {
    display: grid;
    grid-template-areas: 
    "ac del percent division"
    "seven eight nine myltiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    border: none;
    color: white;
}

.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.btn.bg-grey {
    background-color: var(--grey);
}

.btn.bg-orange {
    background-color: var(--orange);
}


